body {
  font-family: 'Manjari', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sliderContainer {
  position: absolute;
  height: 200px;
  left: -65px;
  bottom: 10px;
  z-index: 1;
  color: #DDD;
}

#zoomSlider {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 100px;
  background: #d3d3d3;
  outline: none;
  transform: rotate(270deg) translate(-20%, -00%);
  box-shadow: -3px 3px 5px #333A; 
}

.zoomSign{
  color: #333;
  position: absolute;
  left: 98px;
  font-weight: bold;
}

.plusSign{
  top: -69px;
}

.minusSign{
  bottom: 28px;
}

#zoomLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: bold;
  background-color: #333;
  padding: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #333A; 
}

#zoomSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CA;
  box-shadow: -3px 3px 5px #333A; 
  cursor: pointer;
}

#zoomSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CA;
  cursor: pointer;
}